:root {
    --background-cor: #f9f8f8;
    --branco-principal: #FFFFFF;
    --font-: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-cor);
    font-family: var(--font-);
    font-weight: 600;
}

.navegacao{
   background-color: var(--branco-principal);
}

.button__nav, button {
    border: 2px;
    margin: 1em 1em 1em 10%;
    background-color: transparent;
    cursor: pointer;
    
} 

.lista__navegacao {
    display: flex;
    list-style-type: none;
	position: absolute;
	right: 0;
    width: 86vh;
    margin-top: 2em;
}

.nav__item, a {
    margin: 0 1.5em 0 0;
    font-size: 14.2px;
    color: #7c7c7c;
    text-decoration: none;
}

.img__perfil {
    position: absolute;
	right: 0;
    width: 45px;
    border-radius: 3em;
    margin: 1em 25% 0 0;
}

.nome {
    position: absolute;
	right: 0;
    margin: 2.1em 21% 1em 0; 
}

.dashboard {
    background-color: #277AE1;
    height: 7vh;
}

.titulo__dashboard {
    color: white;
    font-weight: 800;
    margin-left: 19%;
    padding: 0.9em 0 0 0;
    font-size: 21px;
}

/*CSS MAIN DA PÁGINA*/

.titulo__primario {
    font-weight: 600;
    color: #6b6b6b;
    margin: 1em 0 0.8em 18.8%;
    font-size: 22px;
}

.container__cursos {
    background-color: #FFFFFF;
    width: 58vh;
    height: 23vh;
    margin-left: 19%;
    border: solid 0.1px;
    border-color: #e0dfdf;
}

.progressao__curso {
    padding: 0.8em 0 0 0.3em;
}

.logo__curso {
    margin: 0 0 0 1em;
    float: left;
}

.texto__primario {
    color: #747C81;
    font-weight: 400;
    margin: 1.4em 0 0 0;
}

.texto__curso {
    margin-top: 3em;
}